---
layout: page
title: "In GSU"
description: "May the force be with you"
header-img: "img/gsu-bg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
<h3>Awards</h3>
<ul>
	<li>Outstanding Graduate Research Award of 2021, awarded by the Department of Computer Science, GSU
	</li>

<li>Best Paper Award, “A Self-Supervised Purification Mechanism for Adversarial Samples”, by Bingyi Xie, Honghui Xu, Zuobin Xiong, Yingshu Li, and Zhipeng Cai,
awarded by IEEE International Conference on Smart Data, Espoo, Finland, Aug. 2022
</li>
</ul>

<h3>Teaching Fellow</h3>
<ul>
	<li>Instructor, CSC 4222/6222 Cyber Security, Spring 2021, GSU (Student Evaluation Score: 4.5/5.0)</li>
	<li>Instructor, CSC 4520/6520 Design & Analysis Algorithms, Fall 2019, GSU (Student Evaluation Score: 4.7/5.0)</li>

</ul>


<h3>Teaching Assistant</h3>
<ul>
	<li>Teaching Assistant, CSc 4221/6221 Mobile Computing and Wireless Nets, Fall 2022, GSU</li>
	<li>Teaching Assistant, Online Course Private and Secure AI, Spring 2022, GSU</li>
	<li>Teaching Assistant, CSc 4520/6520 Design & Analysis Algorithms, Fall 2021, GSU</li>
	<li>Teaching Assistant, CSC 4222/6222 Cyber Security, Fall 2020, GSU</li>
	<li>Teaching Assistant, CSC 4720/6720 Data Mining, Spring 2020, GSU</li>
	<li>Teaching Assistant, CSC 4720/6720 Data Mining, Spring 2019, GSU</li>
</ul>

</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
