---
layout: page
title: "Research"
description: "Life was like a box of chocolates, you never know what you're gonna get"
header-img: "img/publication-bg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Conference Papers</p></blockquote>

    <ol>
      <li><a href="https://aaai.org/Conferences/AAAI-23/">
      Federated Generative Model on Multi-Source Heterogeneous Data in IoT
      </a></li>
      <b>Zuobin Xiong</b>, Wei Li, and Zhipeng Cai
      <br>
      AAAI Conference on Artificial Intelligence, Washington, DC, USA, Feb. 2023.

		<li><a href="https://globecom2022.ieee-globecom.org/">
		Pairwise Gaussian Graph Convolutional Networks: Defense Against Graph Adversarial Attack
		</a></li>
		Guangxi Lu, <b>Zuobin Xiong</b>, Jing Meng, and Wei Li
		<br>
		IEEE Global Communications Conference (GLOBECOM), Rio de Janeiro, Brazil, Dec. 2022.

		<li><a href="http://ieee-cybermatics.org/2022/smartdata/2022accepted_paper.pdf">
		A Self-Supervised Purification Mechanism for Adversarial Samples
		</a></li>
		Bingyi Xie, Honghui Xu, <b>Zuobin Xiong</b>, Yingshu Li, and Zhipeng Cai
		<br>
		IEEE International Conference on Smart Data, Espoo, Finland, Aug. 2022.

		<li><a href="http://ksiresearch.org/seke/seke22.html">
		Exp-SoftLexicon Lattice Model Integrating Radical-Level Features for Chinese NER
		</a></li>
		Lijie Li, Shuangyang Hu, Junhao Chen, Ye Wang, and <b>Zuobin Xiong</b>
		<br>
		International Conference on Software Engineering & Knowledge Engineering, Pittsburgh, USA, Jul. 2022.

        <li><a href="https://ieeexplore.ieee.org/abstract/document/8970962">
		Privacy-Preserving Auto-Driving: a GAN-based Approach to Protect Vehicular Camera Data
		</a></li>
		<b>Zuobin Xiong</b>, Wei Li, Qilong Han, and Zhipeng Cai.
		<br>
		IEEE International Conference on Data Mining (ICDM), Beijing, China, Nov. 2019. (Acceptance Ratio: 95/1046=9.08%)
    </ol>

	<blockquote><p>Journal Papers</p></blockquote>

    <ol>
		<li><a href="https://ieeexplore.ieee.org/abstract/document/9542951">
		Towards Neural Network-based Communication System: Attack and Defense</a></li>
		<b>Zuobin Xiong</b>, Zhipeng Cai, Chunqiang Hu, Daniel Takabi, and Wei Li.
		<br>
		Accepted. IEEE Transactions on Dependable and Secure Computing (TDSC), 2022.

		<li><a href="https://ieeexplore.ieee.org/abstract/document/9542951">
		Top-k Socially Constrained Spatial Keyword Search in Large SIoT Networks</a></li>
		Jinbao Wang, <b>Zuobin Xiong</b>, Qilong Han, Xixian Han, Donghua Yang.
		<br>
		Accepted. IEEE Internet of Things Journal (JIOT), 2021.

		<li><a href="https://www.hindawi.com/journals/wcmc/2021/4873574/">
		CGPP-POI: A Recommendation Model Based on Privacy Protection</a></li>
		Gesu Li, Guisheng Yin, <b>Zuobin Xiong</b>, and Fukun Chen.
		<br>
		Wireless Communications and Mobile Computing, Vol. 2021, Aug. 2021.

		<li><a href="https://ieeexplore.ieee.org/abstract/document/9408373">
		Privacy Threat and Defense for Federated Learning With Non-i.i.d. Data in AIoT</a></li>
		<b>Zuobin Xiong</b>, Zhipeng Cai, Daniel Takabi, and Wei Li.
		<br>
		IEEE Transactions on Industrial Informatics (TII), Vol. 18, No. 2, pp. 1310-1321, Apr. 2021.

		<li><a href="https://dl.acm.org/doi/abs/10.1145/3459992">
		Generative Adversarial Networks: A Survey Towards Private and Secure Applications</a></li>
		Zhipeng Cai, <b>Zuobin Xiong</b>, Honghui Xu, Peng Wang, Wei Li, and Yi Pan.
		<br>
		ACM Computing Surveys (CSUR), Vol. 54, No. 6, pp.1-38, Jul. 2021.

		<li><a href="https://www.sciencedirect.com/science/article/pii/S1570870521000342">
		Gated recurrent unit-based parallel network traffic anomaly detection using subagging ensembles</a></li>
		Xiaoling Tao, Yang Peng, Feng Zhao, Changsong Yang, Baohua Qiang, Yufeng Wang, and <b>Zuobin Xiong</b>.
		<br>
		Ad Hoc Networks, Vol. 116, May 2021.

		<li><a href="https://ieeexplore.ieee.org/abstract/document/9360457">
		Multi-Source Adversarial Sample Attack on Autonomous Vehicles</a></li>
		<b>Zuobin Xiong</b>, Honghui Xu, Wei Li, Zhipeng Cai.
		<br>
		IEEE Transactions on Vehicular Technology (TVT), Vol. 70, No. 3, pp. 2822-2835, Mar. 2021.

		<li><a href="https://ieeexplore.ieee.org/abstract/document/9234081">
		Adgan: protect your location privacy in camera data of auto-driving vehicles</a></li>
		<b>Zuobin Xiong</b>, Zhipeng Cai, Qilong Han, Arwa Alrawais, and Wei Li.
		<br>
		IEEE Transactions on Industrial Informatics (TII), Vol. 17, No. 9, pp. 6200-6210, Sep. 2021.

        <li><a href="https://www.hindawi.com/journals/scn/2018/4248092/">
		Research on trajectory data releasing method via differential privacy based on spatial partition</a></li>
		Qilong Han, <b>Zuobin Xiong</b>, and Kejia Zhang.
		<br>
		Security and Communication Networks, Vol. 2018

    </ol>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
